<h1>All Lists</h1>
<div class="lists-table">
  <form class=list-form>
  <input type="text" name="list" placeholder="Add new list..." required />
    <button type="sub">Add List</button>
  </form>
  <ul>
    <% current_user.lists.each do |list| %>
      <li><%= link_to list.name, user_list_path(current_user, list) %></li>
    <% end %>
  </ul>
</div>
