<h1>All Lists</h1>
<div class="lists-table">
  <form id="<%= current_user.id %>">
  <input type="text" name="list" placeholder="Add new list..." required />
    <button type="sub">Add List</button>
  </form>
  <ul>
    <% current_user.lists.each do |list| %>
      <li><%= list.name %></li>
    <% end %>
  </ul>
</div>
