<h1><%= @list.name %></h1>
<form class="article-form" id="<%= @list.id%>">
  <input type="text" name="article" placeholder="Add new article..." required />
  <button type="sub">Add Article</button>
</form>
<table class="list-table">
  <tr>
    <th>Article Name</th>
    <th>Audio</th>
  </tr>
  <% @list.articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td>
      <audio controls>
        <source src="https://s3.amazonaws.com/keep-up/<%=article.id %>" type="audio/mpeg">
      </audio>
    </td>
  </tr>
  <% end %>
</table>
