<h1><%= @list.name %></h1>
<div class="list-table">
  <form class="article-form" id="<%= @list.id%>">
  <input type="text" name="article" placeholder="Add new article..." required />
    <button type="sub">Add Article</button>
  </form>
  <ul>
    <% @list.articles.each do |article| %>
      <li><%= article.title %></li>
    <% end %>
  </ul>
</div>
