---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/extract
    body:
      encoding: US-ASCII
      string: url=http%3A%2F%2Fwww.bbc.com%2Ffuture%2Fstory%2F20170223-chinas-zombie-factories-and-unborn-cities
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - c8315f98
      X-Aylien-Textapi-Application-Key:
      - 90fee02df689edb57f110849a22f30db
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '995'
      X-Ratelimit-Reset:
      - '1487980800'
    body:
      encoding: UTF-8
      string: |-
        {
          "author": "Richard Gray",
          "image": "",
          "tags": ["story", "future-now", "image", "economics", "STORY"],
          "article": "As well as bits of Venice, Sydney and Dubai",
          "videos": [],
          "title": "China's zombie factories and unborn cities",
          "publishDate": "",
          "feeds": []
        }
  recorded_at: Fri, 24 Feb 2017 18:09:37 GMT
recorded_with: VCR 3.0.3
