.lists-table, .list-table{
    position: relative;
    width: 100%;
    background: #c1bdbd;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

  th{
    width: 100%;
    padding: 4%;
    font-weight: bold;
    background-color: #858585;
    text-align: center;
    border-style: solid;
  }

  tr,ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

    td,li{
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      font-size: 125%;
      cursor: pointer;
      letter-spacing: 1px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      border-style: solid;
    }
    a{
    color: #ffffff;
    }
  }
}
form{

  input[type="text"]{
    width: 78.5%;
    padding: 20px;
    background: white;
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
  }

  button{
    padding: 20px;
    width: 21.5%;
    float: left;
    background: #858585;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
  }
}
