<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <% if current_user %>
        <li><%= link_to "My Lists", user_lists_path(current_user) %></li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li>Logged in as <%= current_user.first_name %></li>
        <li><%= link_to "Logout", logout_path, method: "DELETE" %></li>
      <% else %>
        <li><%= link_to "Login with Google", google_login_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
